.wrapper {
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.wrapper p {
	margin-top: 0;
	margin-bottom: 10px;
}

.wrapper ol {
	margin-bottom: 10px;
	padding-left: 20px;
}

.code {
	font-family: monospace;
	background-color: #444;
	padding: 2px 4px;
	border-radius: 4px;
}
