.wrapper {
	max-width: 600px;
	padding: 20px;
}

.wrapper p {
	margin-top: 0;
	margin-bottom: 10px;
}

.wrapper ol {
	margin-bottom: 10px;
	padding-left: 20px;
}

.wrapper ol li {
	margin-bottom: 10px;
}

.wrapper code {
	font-family: monospace;
	background: #444;
	padding: 2px 4px;
	border-radius: 4px;
}

.buttonWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.wrapper button {
	background: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	cursor: pointer;
}
